html {
  background-color: var(--purple-light);
  
}

:root {
  /* --purple-darker: #151229;
  --purple-dark: #27233A;
  --purple-light: #443D66;
  --purple-lighter: #6b6299;
  --blue: #6D98BA;
  --gray: #9AADBF;
  --tan: #D3B99F;
  --orange: #C17767; */
  
  /* --header-background-color: #151229;
  --body-background-color: #443D66;
  --project-card-background-color: #6b6299;
  --text-color: #ffffff;
  --project-card-highlight-color: #67c176;
  --software-grid-cell-highlight-color: #ffffff; */
  
  --header-background-color: #050213;
  --header-background-hover-color: #373247;
  --body-background-color: #171428;
  --project-card-background-color: rgba(216, 213, 239, 0.15);
  --text-color: #D8D5EF;
  --project-card-highlight-color: #be7f4c;
  --software-grid-cell-highlight-color: #D8D5EF;
  --accent-color: #ffbd86;
}

@font-face {
  font-family: timeBurner;
  src: url(timeBurner.ttf) 
}

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  background-color: var(--body-background-color);
  font-weight:100;
}

hr {
  margin: 30px 0px;
}

.project-card {
  text-decoration: none;
  text-align:left;
  color: var(--text-color);
  padding: 10px;
  background-color: var(--project-card-background-color);
  margin: 0px;
  margin-bottom: 3px;
  display: flex;
}

.project-card:hover {
  background-color: var(--project-card-highlight-color);
  color:white;
}

.project-title {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: large;
}

.project-description {
  margin: 0px 0px;
  margin-right: 10px;
}

.project-card-image {
  width: 20vw;
  max-width:40px;
  margin: 0px;
  margin-right: 20px;
}

.page-title {
  margin-top: 15px;
  margin-bottom: 0px;
  text-wrap:nowrap;
  font-family: timeBurner, sans-serif;
  font-weight: 100;
  font-size: min(2.7rem, 7vw);
}

.page-header-for-project-description {
  background-color: var(--header-background-color);
  margin: 0 0;
  padding: 20px 50px;
  display: flex;
  align-items:center;
  
  position: relative;
}

.page-header-for-project-description:hover {
  background-color: var(--header-background-hover-color);
}

.page-header-for-project-description a {
  display: block;
  position: absolute;
  text-decoration: none;
  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: inherit;
}

.page-header-profile-image {
  height: 50px;
  margin-left: 30px;
}

.header-back-arrow {
  height: 20px;
}

.page-title-for-project-description {
  margin: 0 0;
  margin-left:30px;
  text-wrap:nowrap;
  font-family: timeBurner, sans-serif;
  font-weight: 100;
  font-size: min(2.7rem, 7vw);
}

#selfSummary {
  margin: 0;
}

#introductorySection {
  /* this is a <header> that extends to left & right edges of screen */
  /* elements in here should be contained in a smaller area */
  background-color: var(--header-background-color);
  /* padding: 70px max(calc( (100vw - 730px)/2 ), 30px ); */
}

#introductorySectionBody {
  max-width: 700px;
  padding: 70px 50px;
  margin: 0 auto;
}

.main-body {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
}

#projectShowcaseH2 {
  margin: 0px;
}

.project-category-header {
  margin-top: 50px;
  margin-bottom: 16px;
  text-align: left;
}

.hyperlink {
  cursor: pointer;
  text-decoration: none;
  color: var(--accent-color);
  font-weight:bold;
}

.hyperlink:hover {
  color: #fff59f;
}

.project-arrow-container {
  margin-left: auto;
  min-width: min(10vw, 40px);
  /* flex: 1; */
  /* max-width: 40px; */
  display:flex;
  align-items:center;
  justify-content:center;
  /* background-color: green; */
}

.project-arrow {
  height: 20px;
}

#developerImage {
  margin: min(1vw, 8px) 0px; /* vertical margin should match grid cell padding */
}

#gridAndProfileFlexBox {
  display: flex;
  height: 30vw;
  max-height: 200px;
}

#softwareGridTitle {
  margin-left: auto;
  margin-right: min(1vw, 8px); /* margin-right should match grid cell padding */
  margin-top: 15px;
  font-style:italic;
  text-align:right;
  text-wrap:nowrap;
  color:var(--accent-color)
}

#titleFlexBox {
  display: flex;
}

.red-outline {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  min-width: 50px;
  min-height: 50px;
}
#softwareGridContainer {
  aspect-ratio: 6/4;
  margin-left: auto;
}
#softwareGrid {
  /* padding-left: 20px; */
  /* min-width: 300px; */
  margin-left: auto;
  display:grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.software-grid-cell {
  display: flex;
  /* background-color: orange; */
  /* border-color: red;
  border-style: solid;
  border-width: 1px; */
  border-radius: 0px;
  margin: 0px;
  aspect-ratio: 1;
  padding: min(1vw, 8px);
  /* width: 30px;
  height: 30px; */
}

.software-grid-cell:hover {
  background-color: var(--software-grid-cell-highlight-color);
  border-radius: 10px;
}

.software-grid-cell-hover {
  background-color: var(--software-grid-cell-highlight-color);
  border-radius: 10px;
}

.software-grid-cell > img {
  width: 100%;
  object-fit: contain;
}
li {
  margin-bottom: 0.4rem;
}
li b {
  font-weight: 900;
}

/* .project-description-section-header {
  font-family: timeBurner, sans-serif;
  font-weight: 100;
} */
 
h1.project-description-section-header {
  font-size: 2rem;
  margin:0;
}

.project-container-outer {
  border-style: solid;
  border-color: #595475;
  border-width: min(3vw, 20px);
  border-radius: min(3vw, 20px);
  box-shadow: 0px 0px 20px black;
  height: 300px;
  box-sizing:border-box;
  position:relative;
}

.project-container-outer > embed {
  width: 100%;
  height: 100%;
}

.hidden-until-hover {
  display: none;
}

.hidden-until-hover:hover {
  display:inherit;
}

.expand-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  position: absolute;
  /* bottom:  0px;
  left: 0px; */
  bottom: min(2vw, 15px);
  left: min(2vw, 15px);
  cursor:pointer;
}

.expand-button img {
  width: 100%; 
}

.project-description-title-container {
  margin: 30px 0px;
  display:flex;
  align-items:center;
}
.project-description-title-image {
  height:min(10vw, 85px);
  margin-left: auto;
}