html {
  background-color: var(--purple-light);
  
}

:root {
  --purple-darker: #151229;
  --purple-dark: #27233A;
  --purple-light: #443D66;
  --purple-lighter: #6b6299;
  --blue: #6D98BA;
  --gray: #9AADBF;
  --tan: #D3B99F;
  --orange: #C17767;
}

@font-face {
  font-family: timeBurner;
  src: url(timeBurner.ttf) 
}

/* @font-face {
  font-family: geliatExtralight;
  src: url(geliatExtralight.otf)
} */

body {
  color: white;
  font-family: sans-serif;
  margin: 0;
  background-color: var(--purple-light);
  font-weight:100;
}

hr {
  margin: 30px 0px;
}

.project-card {
  text-decoration: none;
  text-align:left;
  color: white;
  padding: 10px;
  background-color: var(--purple-lighter);
  margin: 0px;
  margin-bottom: 3px;
  display: flex;
}

.project-card:hover {
  background-color: var(--orange);
}

.project-title {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: large;
}

.project-description {
  margin: 0px 0px;
  margin-right: 10px;
}

.project-card-image {
  width: 20vw;
  max-width:40px;
  margin: 0px;
  margin-right: 20px;
}

#pageTitle {
  margin-top: 15px;
  margin-bottom: 0px;
  text-wrap:nowrap;
  font-family: timeBurner, sans-serif;
  font-weight: 100;
  font-size: min(2.7rem, 7vw);
}

#selfSummary {
  margin: 0;
}

#introductory-section {
  /* this is a <header> that extends to left & right edges of screen */
  /* elements in here should be contained in a smaller area */
  background-color: var(--purple-dark);
  /* padding: 70px max(calc( (100vw - 730px)/2 ), 30px ); */
}

#introductory-section-body {
  max-width: 700px;
  padding: 70px 50px;
  margin: 0 auto;
}

#project-showcase-section {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 70px;
}

#project-showcase-h2 {
  margin: 0px;
}

.project-category-header {
  margin-top: 50px;
  margin-bottom: 16px;
  text-align: left;
}

.hyperlink {
  text-decoration: none;
  color: var(--tan);
  font-weight:bold;
}

.hyperlink:hover {
  color: rgb(255, 255, 163);
}

.project-arrow-container {
  margin-left: auto;
  min-width: min(10vw, 40px);
  /* flex: 1; */
  /* max-width: 40px; */
  display:flex;
  align-items:center;
  justify-content:center;
  /* background-color: green; */
}

.project-arrow {
  height: 20px;
}

#developerImage {
  margin: min(1vw, 8px) 0px; /* vertical margin should match grid cell padding */
}

#grid-and-profile-flex-box {
  display: flex;
  height: 30vw;
  max-height: 200px;
}

#software-grid-title {
  margin-left: auto;
  margin-right: min(1vw, 8px); /* margin-right should match grid cell padding */
  margin-top: 15px;
  font-style:italic;
  text-align:right;
  text-wrap:nowrap;
}

#title-flex-box {
  display: flex;
}

.red-outline {
  border-color: red;
  border-style: solid;
  border-width: 1px;
  min-width: 50px;
  min-height: 50px;
}
#software-grid-container {
  aspect-ratio: 6/4;
  margin-left: auto;
}
#software-grid {
  /* padding-left: 20px; */
  /* min-width: 300px; */
  margin-left: auto;
  display:grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
}
.software-grid-cell {
  display: flex;
  /* background-color: orange; */
  /* border-color: red;
  border-style: solid;
  border-width: 1px; */
  border-radius: 0px;
  margin: 0px;
  aspect-ratio: 1;
  padding: min(1vw, 8px);
  /* width: 30px;
  height: 30px; */
}

.software-grid-cell:hover {
  background-color: white;
  border-radius: 10px;
}

.software-grid-cell-hover {
  background-color: white;
  border-radius: 10px;
}

.software-grid-cell > img {
  width: 100%;
  object-fit: contain;
}